name: Run Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    # PR 소스 브랜치가 'next-step:juhyeong424' 인 경우에만 실행
    if: github.event_name == 'pull_request' && github.head_ref == 'next-step:juhyeong424'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.13.0

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
